body ,#root, .homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.logo {
  width: 300px;
  height: auto;
  margin-bottom: 0px;
}

h3 {
  margin-top: -40px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
}

.form-action-btn {
  margin-left: 10px;
  padding: 10px 25px;
}

.form-container .button {
  padding:  7.5px 25px;
}

.form-action-btn, .form-container .button {
  background-color: #EE2225;
  border: 2px solid #EE2225;
  border-radius: .5rem;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* card */
.fruits-display-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px; 
  justify-content: center;
  margin-top: 50px;
}

.fruit-card {
  width: 300px; 
  height: 580px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  border: 1px solid #ddd; 
  border-radius: 10px;
}

.fruit-card img {
  width: 100%; 
  height: 40%; 
  object-fit: contain;
}


.fruit-card h4 {
  text-align: center;
  margin: 10px 0; 
}

.card-labels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.card-labels-container ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  text-align: center; 
}


.card-labels-container div {
  margin-top: 10px;
}


.card-labels-container div p {
  font-size: 20px; 
  font-weight: bold;
  color: #EE2225;
}

.card-btns-container {
  display: flex;
  justify-content: space-around;
  width: 100%; 
  padding: 10px 0;
}

.card-btns-container button {
  background-color: #EE2225;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #EE2225;
  border-radius: 5px; 
  padding: 8px 16px;
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.card-btns-container button:hover {
  background-color: #cc1c1e; 
}

/* pagination container */
.pagination-container {
  width: 40px;
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


/* Footer */

footer {
  padding: 30px 0px;
  background-color: #FCA81E;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}